* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
}
#ripple-btn {
  position: relative;
  border: none;
  outline: none;
  padding: 25px 75px;
  margin: 50px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 40px;
  color: #fff;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  overflow: hidden;
}
span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 500ms linear infinite;
}
@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
