* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --rotate-angle: 15deg;
}

.container {
  background-color: #4285f4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#floating-text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.45rem;
  animation: float 5s linear infinite alternate;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
    0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
}

@keyframes float {
  from {
    transform: rotateZ(var(--rotate-angle));
  }
  to {
    transform: rotateZ(calc(-1 * var(--rotate-angle)));
  }
}
